# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [44]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [45]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [47]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [48]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [49]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [50]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [51]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [52]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [53]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [54]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [55]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [56]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [57]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [58]:
data.duplicated().sum()

71

In [59]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [60]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [61]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [62]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [63]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [64]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Сгруппируем данные по количеству детей у каждого кредитора.

In [65]:
# применим метод groupby к столбцу children
children = data.groupby('children')['children'].count()
#выведем значение переменной children
children

children
0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: children, dtype: int64

По группам с 3, 4 и 5 детьми небольшая выборка данных, укрупним категорию, создав одну группу - **'2 и более детей'**, применив категоризацию данных. Иначе сделанные выводы могут быть ошибочны.

In [66]:
#<создание функции children_group(), с одним параметром - children>
def children_group(children):
    if children == 0:
        return 'Нет детей'
    if children == 1:
        return 'Один ребенок'
    if children > 1:
        return '2 и более детей'
#проверим функцию, если параметр children = 3
children_group(3)

'2 и более детей'

Написанная функция работает корректно.\
Создадим отдельный столбец с категориями по количеству детей **'children_group'**. Применим функцию children_group ко всему столбцу 'children' таблицы data.

In [67]:
data['children_group'] = data['children'].apply(children_group)
#выведем первые 10 значений таблицы data
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category,children_group
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью,Один ребенок
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем,Один ребенок
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью,Нет детей
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования,2 и более детей
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы,Нет детей
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью,Нет детей
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью,Нет детей
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования,Нет детей
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы,2 и более детей
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью,Нет детей

Создадим сводную таблицу **data_children**, чтобы отобразить данные по заемщикам по категории количество детей.

In [68]:
#Применим функции 'count', 'sum', 'mean' к значениям из столбца 'debt'. 
data_children = data.pivot_table(index='children_group', values='debt', aggfunc=['count', 'sum', 'mean'])
#Присвоим столбцам новые значения
data_children.columns = ['Кол-во заемщиков', 'Кол-во должников', 'Доля просрочек']
#Добавим новый столбец 'Доля просрочек, в %'
data_children['Доля просрочек, в %'] = data_children['Доля просрочек'] * 100
#Выведем полученную таблицу
data_children

,Кол-во заемщиков,Кол-во должников,Доля просрочек,"Доля просрочек, в %"
children_group,,,,
2 и более детей,2432,225,0.092516,9.251645
Нет детей,14091,1063,0.075438,7.543822
Один ребенок,4808,444,0.092346,9.234609

По полученным данным можно убедиться, что наиболее надеждым заемщиком явлеется категория заемщиков без детей, у них наименьшая доля просрочек - 7,5 %.\
У двух категорий заемщиков (с 1 ребенком и 2 и более детей) доля просрочек практически одинакова - 9,2 %. Разность между двумя этими группами должников составляет 0,02 процентных пункта.

In [69]:
'Разница между группами без детей и с детьми составляет {:.0%} процентных пункта'.format(0.092516-0.075438)

'Разница между группами без детей и с детьми составляет 2% процентных пункта'

In [70]:
'Относительное отклонение доли должников группы с детьми от группы без детей составляет {:.0%}'.format((0.092516-0.075438)/0.075438)

'Относительное отклонение доли должников группы с детьми от группы без детей составляет 23%'

**Вывод:**

Наличие детей влияет на возвращение кредита с меньшими просрочками, у кредиторов без детей доля просрочек на 23 % меньше, чем у кредиторов с 1 и более ребенком.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [71]:
#декомпозируем данные с семейным положением для визуальной работой с таблицей
family_status_sort = data[['family_status', 'family_status_id']]
family_status_sort = family_status_sort.drop_duplicates().reset_index(drop=True)
family_status_sort

           family_status  family_status_id
0        женат / замужем                 0
1       гражданский брак                 1
2         вдовец / вдова                 2
3              в разводе                 3
4  Не женат / не замужем                 4

Мы имеем 5 категорий семейного положения. Сгруппируем данные по категориям с помощью метода `groupby`

In [72]:
family_status = data.groupby('family_status')['family_status'].count()
family_status

family_status
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
гражданский брак          4134
женат / замужем          12261
Name: family_status, dtype: int64

Создавать отдельную категорию и включать туда категорию вдовец\вдова нет необходимости, данных достаточно для проведения анализа.\
Создадим сводную таблицу **data_family_status**, чтобы отобразить данные по заемщикам по категории семейное положение.

In [73]:
#Применим функции 'count', 'sum', 'mean' к значениям из столбца 'debt'. 
data_family_status = data.pivot_table(index='family_status', values='debt', aggfunc=['count', 'sum', 'mean'])
#Присвоим столбцам новые значения
data_family_status.columns = ['Кол-во заемщиков', 'Кол-во должников', 'Доля просрочек']
#Добавим новый столбец 'Доля просрочек, в %'
data_family_status['Доля просрочек, в %'] = data_family_status['Доля просрочек'] * 100
#Выведем полученную таблицу
data_family_status

,Кол-во заемщиков,Кол-во должников,Доля просрочек,"Доля просрочек, в %"
family_status,,,,
Не женат / не замужем,2796,273,0.097639,9.763948
в разводе,1189,84,0.070648,7.064760
вдовец / вдова,951,63,0.066246,6.624606
гражданский брак,4134,385,0.093130,9.313014
женат / замужем,12261,927,0.075606,7.560558

Наиболее благонадежными заемщиками являются 3 категории: вдовец / вдова, в разводе и женат / замужем, доля просрочек у данных категорий составляет 6,6%, 7,1% и 7,6% соответсвенно.\
Наименее надежными являются две категории заемщиков: гражданский брак и не женат / не замужем, 	доля просрочек у данных категорий составляет 9,3% и 9,7% соответвенно.\
Можно сделать вывод, что заемщики, состоящие в официальном браке реже выходят на просрочку, чем заемщики без официально оформленного брака.

In [85]:
'Разница между группами женат / замужем и не женат / не замужем составляет {:.0%} процентных пункта'.format(0.097639-0.075606)

'Разница между группами женат / замужем и не женат / не замужем составляет 2% процентных пункта'

In [86]:
'Относительное отклонение доли должников группы женат / замужем и не женат / не замужем составляет {:.0%}'.format((0.097639-0.075606)/0.075606)

'Относительное отклонение доли должников группы женат / замужем и не женат / не замужем составляет 29%'

**Вывод:**

По имеющимся данным, семейное положение влияет на возвращение кредита, у кредиторов с официально оформленным браком доля просрочек на 29 % меньше, чем у кредиторов без официального оформленного брака.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

По данным исследования, мы имеем 5 категорий уровня дохода:\
-0–30000 — 'E';\
-30001–50000 — 'D';\
-50001–200000 — 'C';\
-200001–1000000 — 'B';\
-1000001 и выше — 'A'.\
Создадим сводную таблицу **data_income**, чтобы отобразить данные по заемщикам по категории уровень дохода.

In [76]:
# Применим функции 'count', 'sum', 'mean' к значениям из столбца 'debt'.
data_income = data.pivot_table(index='total_income_category', values='debt', aggfunc=['count', 'sum', 'mean'])
#Присвоим столбцам новые значения
data_income.columns = ['Кол-во заемщиков', 'Кол-во должников', 'Доля просрочек']
#Добавим новый столбец 'Доля просрочек, в %'
data_income['Доля просрочек, в %'] = data_income['Доля просрочек'] * 100
#Выведем полученную таблицу
data_income

,Кол-во заемщиков,Кол-во должников,Доля просрочек,"Доля просрочек, в %"
total_income_category,,,,
A,25,2,0.080000,8.000000
B,5014,354,0.070602,7.060231
C,15921,1353,0.084982,8.498210
D,349,21,0.060172,6.017192
E,22,2,0.090909,9.090909

По уровню дохода **A**, **D** и **E** недостаточно данных для корректного анализа. Анализ будем проводить только по двум самым большим уровням дохода: **B** и **C**.

In [77]:
#Применим индексацию для выбора уровней дохода B и C, полученные данные сохранять в отдельную таблицу не будем
data_income.loc[['B', 'C']]

,Кол-во заемщиков,Кол-во должников,Доля просрочек,"Доля просрочек, в %"
total_income_category,,,,
B,5014,354,0.070602,7.060231
C,15921,1353,0.084982,8.498210

Наиболее надежным заемщиком являются кредиторы с более высоким уровнем дохода **B (200001–1000000)**, доля просрочек у данной категории составляет 7,1%.\
Наименее надежным является категория с уровнем дохода **C (50001–200000)**, доля просрочек у данной категории составляет 8,5%.

In [78]:
'Разница между группами с уровнем дохода B и C составляет {:.0%} процентных пункта'.format(0.084982-0.070602)

'Разница между группами с уровнем дохода B и C составляет 1% процентных пункта'

In [87]:
'Относительное отклонение доли должников группы с уровнем дохода B и C составляет {:.0%}'.format((0.084982-0.070602)/0.070602)

'Относительное отклонение доли должников группы с уровнем дохода B и C составляет 20%'

**Вывод:**

Можно сделать вывод, что чем больше уровень дохода у заемщика, тем доля просрочек будет ниже. В данном случае кредиторы с уровнем дохода B имеют меньшую долю просрочек на 20%, чем у категории C.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

По данным исследования, мы имеем 4 категорий цели кредита:
- операции с автомобилем,
- операции с недвижимостью,
-проведение свадьбы,
- получение образования.\
Создадим сводную таблицу **data_purpose**, чтобы отобразить данные по заемщикам по целям кредита.

In [80]:
# Применим функции 'count', 'sum', 'mean' к значениям из столбца 'debt'.
data_purpose = data.pivot_table(index='purpose_category', values='debt', aggfunc=['count', 'sum', 'mean'])
#Присвоим столбцам новые значения
data_purpose.columns = ['Кол-во заемщиков', 'Кол-во должников', 'Доля просрочек']
#Добавим новый столбец 'Доля просрочек, в %'
data_purpose['Доля просрочек, в %'] = data_purpose['Доля просрочек'] * 100
#Выведем полученную таблицу
data_purpose

,Кол-во заемщиков,Кол-во должников,Доля просрочек,"Доля просрочек, в %"
purpose_category,,,,
операции с автомобилем,4279,400,0.093480,9.347978
операции с недвижимостью,10751,780,0.072551,7.255139
получение образования,3988,369,0.092528,9.252758
проведение свадьбы,2313,183,0.079118,7.911803

По данным исследования, заемщики, цель кредита которых является операции с недвижимостью, более надежные, их доля просрочек составляет 7,3 %.\
Менее надежными являются кредиторы, цели кредита которых являются операции с автомобилем и получение образования, их доля просрочек составляет 9,3%.

In [81]:
'Разница между группами операции с недвижимостью и двух групп получение образования и операции с автомобилем составляет {:.0%} процентных пункта'.format(0.093480-0.072551)

'Разница между группами операции с недвижимостью и двух групп получение образования и операции с автомобилем составляет 2% процентных пункта'

In [82]:
'Относительное отклонение между этими группами составляет {:.0%}'.format((0.093480-0.072551)/0.072551)

'Относительное отклонение между этими группами составляет 29%'

**Вывод:**

Наиболее надежными заемщиками являются заемщики, цель кредита которых являются операции с недвижимостью.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* \
Пропуски имеют полностью случайный, случайные и неслучайный характер.\
Пропуск с полностью случайным характером не зависит ни от каких других значений. Пропуск легко восстановить по имени.\
Случайный пропуск зависит от других значений в наборе данных. Пропущенное значение связано с тем, что, например, такой категории не существует.\
Неслучайный пропуск зависит от других значений, в том числе и от значений собственного столбца.\
Также пропуска могут возникнут в случае технической ошибки (например при неправильной выгрузке) и от человеческого фактора (неправильно введенных данных).

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* \
Строки с пропусками в количественных переменных можно удалить или заполнить характерными значениями.\
Метод удаления строк не всегда подходит для исследования, ведь в других столбцах могут содержаться данные, необходимые для анализа. А удаление этих данных приведет к искажению исследования.\
При заполнении пропусков характерными значениями применяют или среднее арифметическое, или медиану.\
Использование медианы наиболее предпочтительно, если выборка данных содержит неоднородные значения. При использовании среднего арифметического при заполнении пропусков, данные могут исказится в одну или другую сторону.

### Шаг 4: общий вывод.

При исследовании влияния критериев количество детей, семейное положение, уровень дохода и цели кредита на долю просрочек заемщиков были получены следующие выводы.\
При влиянии отдельного критерия на возврат кредита в срок **наиболее надежными заемщиками** оказались (в скобках указана доля просрочек в %):
 - заемщики без детей (7,5%);
 - заемщики со семейным положением: вдовец / вдова (6,6%), в разводе (7,1%) и женат / замужем (7,6%);
 - заемщики с уровнем дохода В (7,1%);
 - заемщики с целью кредита операции с недвижимостью (7,3 %).\
**Наименее надежными заемщиками** оказались:
 - заемщики с 1 и более детьми (9,2%);
 - заемщики со семейным положением: гражданский брак (9,3%) и не женат / не замужем (9,7%);
 - заемщики с уровнем дохода С (8,5%);
 - заемщики с целью кредита операции с автомобилем и получение образования (9,3%).

Составим сводную таблицу при влиянии сразу 4 критериев и выясним, совпадают ли выводы с наиболее и наименее надежными заемщиками.

In [90]:
#создадим сводную таблицу data_total
data_total = data.pivot_table(index=['purpose_category', 'children_group','family_status', 'total_income_category'], values='debt', aggfunc=['count', 'sum', 'mean'])
#Присвоим столбцам новые значения
data_total.columns = ['Кол-во заемщиков', 'Кол-во должников', 'Доля просрочек']
#Отсортируем таблицу по столбцу 'Доля просрочек' и отобразим наименьшие 10 значений. 
#При этом количество должников должно быть больше 5 человек
data_total[data_total['Кол-во должников'] > 5].sort_values(by='Доля просрочек').head(10)

                                                                                 Кол-во заемщиков  \
purpose_category         children_group  family_status    total_income_category
операции с недвижимостью Нет детей       вдовец / вдова   C                                   382
                                         гражданский брак B                                   147
получение образования    Нет детей       женат / замужем  B                                   362
операции с недвижимостью 2 и более детей женат / замужем  B                                   264
                         Нет детей       женат / замужем  B                                   999
проведение свадьбы       Нет детей       гражданский брак B                                   350
операции с недвижимостью Нет детей       в разводе        B                                   111
получение образования    Нет детей       вдовец / вдова   C                                   149
операции с недвижимостью Нет детей       женат / замужем  C                                  3143
операции с автомобилем   Нет детей       женат / замужем  C                                  1231

                                                                                 Кол-во должников  \
purpose_category         children_group  family_status    total_income_category
операции с недвижимостью Нет детей       вдовец / вдова   C                                    19
                                         гражданский брак B                                     8
получение образования    Нет детей       женат / замужем  B                                    20
операции с недвижимостью 2 и более детей женат / замужем  B                                    15
                         Нет детей       женат / замужем  B                                    62
проведение свадьбы       Нет детей       гражданский брак B                                    22
операции с недвижимостью Нет детей       в разводе        B                                     7
получение образования    Нет детей       вдовец / вдова   C                                    10
операции с недвижимостью Нет детей       женат / замужем  C                                   212
операции с автомобилем   Нет детей       женат / замужем  C                                    86

                                                                                 Доля просрочек
purpose_category         children_group  family_status    total_income_category
операции с недвижимостью Нет детей       вдовец / вдова   C                            0.049738
                                         гражданский брак B                            0.054422
получение образования    Нет детей       женат / замужем  B                            0.055249
операции с недвижимостью 2 и более детей женат / замужем  B                            0.056818
                         Нет детей       женат / замужем  B                            0.062062
проведение свадьбы       Нет детей       гражданский брак B                            0.062857
операции с недвижимостью Нет детей       в разводе        B                            0.063063
получение образования    Нет детей       вдовец / вдова   C                            0.067114
операции с недвижимостью Нет детей       женат / замужем  C                            0.067451
операции с автомобилем   Нет детей       женат / замужем  C                            0.069862

Гипотеза с наибольшими надежными заемщиками подтвердилась, при влиянии всех критериев надежный заемщик имеет следующие характеристики: не имеет детей, семейный статус - официально женат, уровень дохода B, цель кредита - операции с недвижимостью.

In [89]:
#Теперь отсортируем таблицу по столбцу 'Доля просрочек' и отобразим наибольшие 10 значений. 
#При этом количество должников должно быть больше 5 человек
data_total[data_total['Кол-во должников'] > 5].sort_values(by='Доля просрочек').tail(10)

                                                                                      Кол-во заемщиков  \
purpose_category         children_group  family_status         total_income_category
проведение свадьбы       Один ребенок    гражданский брак      C                                   397
операции с автомобилем   Нет детей       Не женат / не замужем B                                   119
операции с недвижимостью Один ребенок    Не женат / не замужем B                                    66
операции с автомобилем   Нет детей       Не женат / не замужем C                                   396
операции с недвижимостью Один ребенок    гражданский брак      C                                   192
получение образования    Нет детей       гражданский брак      C                                   195
операции с автомобилем   Один ребенок    Не женат / не замужем C                                    73
                                         гражданский брак      C                                    76
получение образования    Один ребенок    гражданский брак      C                                    73
                         2 и более детей гражданский брак      C                                    30

                                                                                      Кол-во должников  \
purpose_category         children_group  family_status         total_income_category
проведение свадьбы       Один ребенок    гражданский брак      C                                    46
операции с автомобилем   Нет детей       Не женат / не замужем B                                    14
операции с недвижимостью Один ребенок    Не женат / не замужем B                                     8
операции с автомобилем   Нет детей       Не женат / не замужем C                                    49
операции с недвижимостью Один ребенок    гражданский брак      C                                    26
получение образования    Нет детей       гражданский брак      C                                    29
операции с автомобилем   Один ребенок    Не женат / не замужем C                                    12
                                         гражданский брак      C                                    13
получение образования    Один ребенок    гражданский брак      C                                    14
                         2 и более детей гражданский брак      C                                     7

                                                                                      Доля просрочек
purpose_category         children_group  family_status         total_income_category
проведение свадьбы       Один ребенок    гражданский брак      C                            0.115869
операции с автомобилем   Нет детей       Не женат / не замужем B                            0.117647
операции с недвижимостью Один ребенок    Не женат / не замужем B                            0.121212
операции с автомобилем   Нет детей       Не женат / не замужем C                            0.123737
операции с недвижимостью Один ребенок    гражданский брак      C                            0.135417
получение образования    Нет детей       гражданский брак      C                            0.148718
операции с автомобилем   Один ребенок    Не женат / не замужем C                            0.164384
                                         гражданский брак      C                            0.171053
получение образования    Один ребенок    гражданский брак      C                            0.191781
                         2 и более детей гражданский брак      C                            0.233333

Гипотеза с наименее надежными заемщиками также подтвердилась, при влиянии всех критериев ненадежный заемщик имеет следующие характеристики: имеет 1 ребенка, семейный статус - официально не женат/гражданский брак, уровень дохода C, цель кредита - операции с автомобилем или получение образования.